@inject IJSRuntime JS
@inject NavigationManager Navigation

<canvas @ref="boidsCanvas" class="fixed top-0 left-0 w-full h-full pointer-events-none"></canvas>

<div class="relative z-10 min-h-screen flex items-center justify-center py-20">
    <div class="flex items-center justify-center">
        <div class="text-center gap-12">
            <h1 class="text-6xl font-bold text-white mb-4 drop-shadow-lg gap-12">
                Jarred Jenkins
            </h1>
            <p class="text-xl text-white/90 mb-8 drop-shadow">
                Graduate Developer
            </p>
            <button @onclick="NavWork"
                class="bg-white/10 backdrop-blur-sm border border-white/20 text-white px-8 py-3 rounded-lg hover:bg-red-900/20 transition-all cursor-pointer">
                View My Work
            </button>
        </div>

        <div class="hidden md:block ml-8">
            <canvas @ref="sandCanvas" 
            class="rounded-lg border-2 border-red-900" 
            style="width: 300px; height: 500px;">
            </canvas>
            <p class="text-sm mt-2 text-center text-white">Click and drag to add sand</p>
        </div>
    </div>
</div>

@code {
    private ElementReference boidsCanvas;
    private ElementReference sandCanvas;

    private ElementReference work;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initBoids", boidsCanvas);
            await JS.InvokeVoidAsync("initSand", sandCanvas);
        }
    }

    private void NavWork() {
        Navigation.NavigateTo("/work");
    }
}