@page "/work"

@inject IJSRuntime JS

@using PortfolioSite.Components

<div class="boids-background"></div> <!-- For gradient background -->

<BoidBg />
<NavBar />

<div class="min-h-screen flex items-center justify-center py-20">
    <div class="flex items-start gap-12">
        <div class="text-center">
            <h2 class="text-xl font-bold mb-4 text-white">Elevator Animation</h2>
            <img src="/anims/elevator.svg" alt="Elevator Animation" class="max-w-full h-auto" />
        </div>

        <div class="text-center">
            <h2 class="text-xl font-bold mb-4 text-white">Game of Life</h2>
            <canvas @ref="gameOfLife" id="gameOfLife"
                class="rounded-lg border-2 border-red-900 z-1 backdrop-blur-xs backdrop-opacity-80"
                style="width: 300px; height: 500px;">
            </canvas>
            <p class="text-sm mt-2 text-center text-white">Click and drag to add particles</p>
        </div>

        <div class="text-center">
            <h2 class="text-xl font-bold mb-4 text-white">CPR CoPilot</h2>
            <p class="text-white">Description here</p>
        </div>
    </div>
</div>

@code {
    private ElementReference gameOfLife;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initgol", gameOfLife);
        }
    }
}